.grafico-direita, .grafico-esquerda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.grafico-direita div, .grafico-direita div canvas{
    width: inherit;
}

.grafico-esquerda span{
    font-size: 1.5rem;
    font-weight: bold;
}