@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primary: #363636;
  --secondary: #ddd;
  --logo-color: #0080ff;       
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
}
body{
background-image: url('../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
}

.header{
  background-color: var(--primary);
  width: 100%;
  height: 10vh; 
  display: flex;
  justify-content: center;
  align-items: center; /* Alinha verticalmente */
}

.header .navbar {
  display: flex;
  width: inherit;
  justify-content: space-around;
  align-items: center;
}

.header .navbar .navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  text-decoration: none;
}


.header .navbar .navbar-links li a{
  color: var(--secondary);
  text-decoration: none;
}

.header .navbar .logo-link .logo {
  width: 104px;
}

.header .navbar .profile-link .profile {
  width: 36px;
}
.navbar-links a:hover {
  color: var(--logo-color); /* Cor ao passar o mouse */
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

.container .container-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .container-content .container-message{
  font-weight: 500;
  font-size: 2rem;
  width: 80%;
}

.container .container-content .container-message .container-message-blue{
  color: var(--logo-color);
}

.container .container-content .container-button{
  width: 360px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
 
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: var(--logo-color);
  color: var(--secondary);
}



.container .container-content .container-button:hover{
  scale: 1.1;
  transition: .5s all ease;
}

.footer{
  background-color: var(--primary);
  color: var(--secondary);
  height: fit-content;
  width: 100%;
}

.footer .footer-top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 15px;
  padding-top: 15px;
}

.footer .footer-top .footer-left{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.footer .footer-top .footer-left a{
  text-decoration: none;
  color: var(--secondary);
}

.footer .footer-top .footer-left ul{
  list-style: none;
}

.footer .footer-top .footer-right{
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: cente
}

.footer .footer-top .footer-right  ul{
  list-style: none;
}

.footer .footer-top .footer-right li{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.footer .footer-top .footer-right img{
  width: 20px;
}

.footer .footer-bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 15px;
}

.footer .footer-bottom img{
  width: 102px;
}

.dash1 {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 320px;
}
.dash2{
  display: flex;
  justify-content: right;
  align-items: right;
  height: 320px;
  
}
.kp{
  position: absolute;
top: 25%;
left: 79%;
transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 350px;
}
.kp .kpi1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  border-radius: 5px;
  color: white;
}

.kp .titulo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.med{
  position: absolute;
top: 50%;
left: 79%;
transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 350px;
}
.med .titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  border-radius: 5px;
  color: white;
}

.med .ciclo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.eco{
  position: absolute;
top: 90%;
left: 25%;
transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  width: 350px;
}
.eco .titulo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #363636;
  border-radius: 5px;
  color: white;
}

.eco .economia{
  display: flex;
  justify-content: center;
  align-items: center;
}